.homes {
    margin: 80px auto;
    width: auto;
    display: flex; /* Set display to flex */
    align-items: center;
    justify-content: space-between;
}

.home-1 {
    display: flex; /* Set display to flex */
    align-items: center;
    justify-content: space-between;
}

.home1-info-content {
    margin-left: 20px; /* Adjust margin as needed */
    width: calc(50% - 20px); /* Calculate the width to fill the remaining space */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.home-1 img {
    width: 50%; /* Maintain the image width */
    margin-left: 0;
    border-radius: 10px;
    display: inline-block;
}

.home-2 img {
    margin-right: 0;
    width: 30%;
    border-radius: 10px;
    display: block;
}
